@media (max-width: 1200px) {

  * {
    box-sizing:border-box;
  }

  body{
    -webkit-text-size-adjust: 100%;
  }
  


  .box1 {
    /* background-color:red; */
    width:100%;
    height:500px;
    /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/18.jpg); */
    background-image: url('./18.JPG');
    background-size:cover;
    color:white;
    text-align:center;
  }
  
  .box1 h1 {
    padding-top:150px;
    font-size:100px;
  }

    /* ここからメニュー */

    .bar {
      width:150px;
      height:120px;
      top:20px;
      left:810px;
      position:absolute;
      position:fixed;
      display:block;
      z-index:12;
      opacity:0.9;
    }
  
    .menu {
      background-color:#ffa500;
      width:480px;
      height:750px;
      top:15px;
      left:483px;
      position:absolute;
      border:2px solid black;
      opacity:0.9;
      position:fixed;
      z-index:15;
      display:none;
      border-radius:10px;
    }
  
  
    
    .menu li {
      list-style:none;
      padding:20px 45px;
      font-size:40px;
      color:black;
    }
  
    .batsu {
      width:120px;
      height:120px;
      top:10px;
      left:330px;
      position:absolute;
    }
  
  
  
    /* ここまでメニュー */
  
  header {
    background-color:#800000;
    width:100%;
    height:60px;
  }
  
  header ul {
    width:2000px;
    display:none;    
  }
  
  header li {
    float:left;
    list-style:none;
    padding:20px 45px;
    font-size:15px;
    color:white;
    display:none;
  }


  .box2 {
    /* background-color:pink; */
    background-color:#ffebcd;
    width:100%;
    height:1500px;
    text-align:center;
    position:relative;
  }
  
  .box2 h2 {
    font-size:70px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 100px;
    border-bottom:2px solid black;
  }
  
  .box2 p {
    font-size:40px;  
    padding-top:20px;
    padding-bottom:30px;
    line-height:70px;
  }

  #buzz {
    display:none;
  }

  #nabe {
    display:none;
    position:absolute;
    top:1800px;
    left:690px;
    width:250px;
    height:250px;
  }



  .box3 h2 {
    font-size:60px;
    padding-top:0px;
  }
  
  .box3 p {
    font-size:40px;  
    padding-top:0px;
    /* padding-bottom:80px; */
    line-height:70px;
  }

  .box3 .mission {
    padding-top:20px;
  }

  .box3 .vision {
    padding-top:20px;
  }


  .box3 {
    /* background-color:green; */
    background-color:#ffebcd;
    width:100%;
    height:900px;
    text-align:center;
  }

  .box3-one {
    /* background-color:blue; */
    background-color:#ffebcd;
    width:100%;
    height:300px;
  }
  
  .one-left {
    float:left;
    width:100%;
    height:400px;
    /* background-color:red; */
    background-color:#ffebcd;
  }
  
  .one-right {
    float:left;
    width:50%;
    height:250px;
    /* background-color:purple; */
    background-color:#ffebcd;
    /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/19.jpg); */
    background-image: url('./19.JPG');  
    background-size:cover;
    display:none;
  }

  .box3-two {
    /* background-color:green; */
    width:100%;
    height:500px;
  }
  
  .two-left {
    float:left;
    width:50%;
    height:250px;
    /* background-color:black; */
    background-color:#ffebcd;
    /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/20.jpg); */
    background-image: url('./20.JPG');  
    background-size:cover;
    display:none;
  }
  
  .two-right {
    float:left;
    width:100%;
    height:500px;
    /* background-color:blue; */
    background-color:#ffebcd;
  }

  .box4 {
    /* background-color:pink; */
    background-color:#ffebcd;
    width:100%;
    height:1320px;
    text-align:center;
    position:relative;
  }
  
  .box4 h2 {
    font-size:70px;
    padding-top:100px;
    padding-bottom:10px;
    margin:0px 70px;
    border-bottom:2px solid black;
  }
  
  .box4 p {
    font-size:40px;  
    padding-top:20px;
    padding-bottom:30px;
    line-height:70px;
  }

  .qr {
    position:absolute;
    top:750px;
    left:270px;
    width:200px;
    height:200px;
  }
  
  .member {
    position:absolute;
    top:680px;
    left:430px;
    width:350px;
    height:350px;
    z-index:3;
  }

  .comu {
    margin-top:280px;
  }

  .click {
    color:#f08080;
    font-weight:bold;
  }

  a {
    text-decoration:none;
    color:black;
  }

#biggestfuki {
  position:fixed;
  top:720px;
  left:100px;
  display:none;
  z-index:5;
}

#fuki {
  display:none;
  position:absolute;
  top:695px;
  left:600px;
  width:290px;
  height:290px;

}




  footer {
    background-color:#ffa500;
    width:100%;
    height:700px;
  }
  
  footer img {
    float:left;
    margin:20px 30px;
    width:100px;
    height:100px;
  }
  
  .info p {
    margin:2px 15px;
    font-size:40px;
  }
  
  .info .name {
    font-size:80px;
    margin:0px 20px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  }
  